@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FDFBF6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.containerButton {
  display: flex;
  margin-top: 8rem;
}

.button-container-left,
.button-container-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 10rem;
}

button {
  background-color: #2e0d0d;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

.next-button {
  width: 10rem;
  background-color: #84431a;
  color: #ffffff;
}



/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
